// using https://github.com/AdamMarsden/simple-typography
@import '../vendor/mixins';
@import '../vendor/style';

@import url('https://fonts.googleapis.com/css?family=Lora:700|Source+Sans+Pro:400,400i&display=swap');

$font-family-heading: 'Lora', serif;
$font-family: 'Source Sans Pro', sans-serif;

* {
    font-family: $font-family !important;
}

h1, h2, h3, h4, h5, h6, header {
    font-family: $font-family-heading  !important;
}

.lead {
    font-style: italic;
}