$color-darken: 10;
$clickable-padding: 1.25em;
$content-padding:  4*1.25rem;

$color-highlight-main: #adf;
$color-highlight-bg: lighten($color-highlight-main, $color-darken);

$animation-speed-page: 0.6s;